<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          Keoma<br>Brun-Laguna 
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <div class="sidebar-nav-item">
        {% for social_network in site.social_networks %}
          <a href="{{ social_network.url }}"><span class="{{ social_network.class }}"></a>
        {% endfor %}
      </div>

    </nav>
    <p>Licence: <a href="http://www.wtfpl.net/txt/copying/">WTFPL-2.0</a></p>
  </div>
</div>
